.card{
    
    color:black;
    margin:25px;
    backdrop-filter: blur(1px) saturate(150%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(184, 221, 255, 0.562);
    border-radius: 12px;
    padding:10px;
    margin-top: 120px;
    
}
.card:hover{
    cursor: pointer;
}

.cardpp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width:150px;
}
.cardul{
    padding: 1px;
    margin: 0px;
}
.cardp{
    max-height:150px;
    border-radius: 10px;
    
}