<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="px-5">
                                <form [formGroup]="form" (submit)="submit()">
                                    <div class="form-group">
                                        <label for="yourName">Provided By</label>
                                        <input formControlName="eventBy" type="text" class="form-control"
                                            id="yourName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Title</label>
                                        <input formControlName="title" type="text" class="form-control"
                                            id="exampleInputPassword1" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">City</label>
                                        <!-- <input formControlName="city" type="text" class="form-control"
                                            id="exampleInputPassword1" /> -->
                                            <select  formControlName="city" class="form-control" value=""id="exampleInputPassword1"  [(ngModel)]="selectedValue">
                                                <option *ngFor="let state of states" value={{state}}>{{state}}</option>
                                            </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="yourName">Location</label>
                                        <input formControlName="location" type="text" class="form-control"
                                            id="yourName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Contact</label>
                                        <input formControlName="contact" type="text" class="form-control"
                                            id="exampleInputEmail1" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Date</label>
                                        <input formControlName="date" type="Date" class="form-control"
                                            id="exampleInputPassword1" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Fees</label>
                                        <input formControlName="fees" type="number" class="form-control"
                                            id="exampleInputPassword1" />
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Image</label>
                                        <input formControlName="event_img" type="text" class="form-control"
                                            id="exampleInputPassword1" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Description</label>
                                        <input formControlName="description" type="text" class="form-control"
                                            id="exampleInputPassword1" />
                                    </div>
                                    <button type="submit" class="btn btn-theme">Publish Event</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div >
                                <img *ngIf="image_preview().length" src={{image_preview()}}
                                    alt="Generic placeholder image">
                                <img *ngIf="!image_preview().length" src="https://media.istockphoto.com/photos/group-of-kids-party-event-festive-celebration-picture-id699706592?b=1&k=20&m=699706592&s=170667a&w=0&h=90X9tlV_hX1io7mSj512hPEA99p6idmGn06pI2q0vo0="
                                    alt="Generic placeholder image">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>