
<!-- Toolbar -->
<div>

<div class="navbar" role="banner">
  <img width="40" alt="kid center" src="https://img.icons8.com/cotton/50/000000/christmas-kid-2.png" />
  <span class="navbar-title" routerLink="/">Kids Center</span>
  <div class="spacer"></div>
  <span class="navbar-title" routerLink="/">Home</span>
  
  <span routerLink="/events" >Events</span>
  <span routerLink="/search" >Search</span>
  <span routerLink="/admin/index" >admin</span>
  <div class="spacer-right"></div>
  <span routerLink="/profile" *ngIf="isLogged()"><img src={{user.user_img}} class="user-logo" />{{user.username}}</span>
  <span class="navbar-title" routerLink="/signin"  *ngIf="!isLogged()">Sign In</span>
  <span class="navbar-title" routerLink="/" (click)="logout()" *ngIf="isLogged()">Log Out</span>
</div>

</div>

<router-outlet></router-outlet>

