<div class="component">
<div >
	<form [formGroup]="form" class="select">
	<select  formControlName="city" class="form-control" value=""id="exampleInputPassword1"  [(ngModel)]="selectedValue">
		<option *ngFor="let state of states" value={{state}}>{{state}}</option>
	</select>
	<button class="btn btn-primary mx-3" (click)="onfilter()">Filter by State</button>
	<button *ngIf="user_category()" class="btn btn-primary mx-3" (click)='addPost()'>Add An event</button>	
</form>
</div>
	
<div>
	<section class="home-blog bg-sand">
		<div class="container">
			<!-- section title -->
			<div class="row justify-content-md-center">
				<div class="col-xl-5 col-lg-6 col-md-8">
					<div class="section-title text-center title-ex1">
						<h2>Latest Events</h2>
					</div>
				</div>
			</div>
			<!-- section title ends -->
			<div >
			<div class="row" >
				<div class="col-md-6 bl"*ngFor="let post of posts">
					<div class="media blog-media">
						<a><img class='em'
								src={{post.event_img}}
								alt="Generic placeholder image"></a>
						<div class="circle">
							<h5 class="day">{{post.date.slice(8,10)}}</h5>
							<span class="month">{{post.date.slice(5,7)}}</span>
						</div>
						<div class="media-body">
								<h5 (click)='comments(post)'class="mt-0">{{post.title}}</h5>
							by
							<h5>{{post.eventBy}}</h5> 
							<ul>	
								<li class="text-right"><a (click)='comments(post)'>{{post.comments.length}} comments</a>
									<a class="post-link" (click)='comments(post)'>Read More</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</div>
</div>